.no-margin {
	margin: 0 !important;
	padding:0 !important;
}

.search-wrapper {
	padding:.2em .4em;
	
}

.cigar-grid {
	box-shadow: rgba(0,0,0,.4) 0px 0px 1px inset;
	border:0;
	padding-top:15px;

	.line, .brand {
		display: block;
	}

	.brand {
		font-weight: bold;
	}

	.image-wrapper{
		width: 100%;
		height: 200px;	
		overflow: hidden;	
		img {

		}
	}

	.panel-heading {
		display: block;
		padding: .4em .7em;
		text-align: center;
		font-size: 1.3em;
		height: 120px;
		border:0;
	}
}