<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title>Cigar Cargo</title>
		<link rel="stylesheet" type="text/css" href="css/mobile-angular-ui-base.min.css">
		<link rel="stylesheet" type="text/css" href="css/mobile-angular-ui-desktop.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body ng-app="cigarcargo" ng-controller="BaseController">
	
<!-- Sidebars -->

<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
  <h1 class="app-name">{{ appname }}</h1>

  <div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group" toggle="off" bubble target="mainSidebar">
        <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
        <!-- ... -->
      </div>
    </div>
  </div>
</div>

<div class="app">
  
  <!-- Navbars -->
  <div class="navbar navbar-app navbar-absolute-top">

      <div class="navbar-brand navbar-brand-center" yield-to="title">
        <span>{{ appname }}</span>
      </div>

      <div class="btn-group pull-left">
        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
          <i class="fa fa-bars"></i> Menu
        </div>
      </div>

      <div class="btn-group pull-right" yield-to="navbarAction">
        <div class="btn btn-navbar">
          <i class="fa fa-plus"></i> 
          <a href="#/add">New</a>
        </div>
      </div>
  </div>

  <div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
      <a href="#/route1" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
      <a href="#/route2" class="btn btn-navbar btn-icon-only"><i class="fa fa-list fa-navbar"></i></a>
    </div>
  </div>

  <div class="app-body">

      <ng-view class="app-content"></ng-view>
	</div>
</div>

		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/mobile-angular-ui.min.js"></script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.18.min.js"></script>

		<script>
		Parse.initialize("NHgeXjE5AlTuyZkqxTBa3jkI9V3aFEUgE04wYOWy", "wUDzuktzJBf6aiN9P9suIEskkBU7SGRmjDnTYALO");
		</script>
		<script src="js/main.js"></script>
	</body>
</html>