<div class="scrollable"><div class="scrollable-content">

		<div class="panel panel-default no-margin">
			<div class="panel-body ">

				<div class="form">

					<p>
						<input type="text" ng-model="brand" name="brand" placeholder="Brand" class="form-control">				
					</p>
					<p>
						<input type="text" ng-model="line" name="line" placeholder="Line" class="form-control">
					</p>

					<p>
						<input type="text" ng-model="price" name="Price" placeholder="Price" class="form-control">
					</p>

					<p>
						<input type="number" ng-model="quantity" name="quantity" placeholder="Quantity" class="form-control">
					</p>

					<p>
						<input type="file" id="imageUpload" ng-model="image" name="image" placeholder="Image" class="form-control">
					</p>

					<p>
						<input type="button" value="Add" ng-click="upload()" ng-disabled="!canUpload">
						<span style="float:right">
							<input type="button" value="Back">
						</span>
					</p>

				<p>brand: {{ brand }}</p>
				<p>line: {{ line }}</p>
				<p>price: {{ price }}</p>
				<p>quantity: {{ quantity }}</p>
				<p>image: {{ image }}</p>

				</div>

			</div>
		</div>
</div></div>