<div class="col-xs-6 col-md-3 cigar-grid">
	<div class="image-wrapper">
		<img src="{{ c.image._url }}" alt="">
	</div>
	<span class="brand">{{ c.brand }}</span>
	<span class="line">{{ c.line }}</span>
	<p>${{ c.price }} </p>
	<p>Quantity: {{ c.qty }} </p>
</div>