<div class="scrollable"><div class="scrollable-content">
      <div class="search-wrapper">
      	<input type="text" ng-model="search_brand" class="form-control" placeholder="Search By Brand">
      </div>

		<div class="panel panel-default no-margin">
			<div class="panel-body no-margin">
				<grid-item ng-repeat="c in cigars | filter: search_brand"></grid-item>
			</div>
		</div>

</div></div>